# Compiled class file
*.class

# Log file
*.log
.idea

# BlueJ files
*.ctxt

target/
**/target/
/DEVICE/target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
DEVICE/.idea
.flattened-pom.xml
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/DEVICE/.idea
/iot-modules/*/target
/iot-common/*/target
/iot-api/*/target
/iot-auth/target
/iot-gateway/target
/iot-registry/target
/iot-visual/*/target
*.iml

# .scripts/docker 中间件数据目录和日志目录
.scripts/docker/db_data/
.scripts/docker/logs/
.scripts/docker/minio_data/
.scripts/docker/mq_data/
.scripts/docker/nodered_data/
.scripts/docker/redis_data/
.scripts/docker/srs_data/
.scripts/docker/standalone-logs/
.scripts/docker/taos_data/

# .scripts/nexus3 数据目录
.scripts/nexus3/nexus_data/

# alert_images 文件夹
**/alert_images/

# backup 文件夹
**/backup/

# 排除 postgresql 初始化脚本
!.scripts/postgresql/00-init-databases.sh

# CMake 构建目录
TASK/build-linux/
TASK/build/
TASK/cmake-build-debug/
